.subheader {
    float: right;
    color: yellow;
}
.rightmenu {
    top:114px;
    bottom:54px;
    right:5px;
    border-left: solid;
    padding-right: 5px;
    color: yellow;
}
#footer {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 60px;
    font-style: italic;
}